---
layout: project
---

%article.secondary
  .container-fluid
    .row-fluid
      .span12
        %h2.section_title About PicketLink
        %p
          A Picket Fence is a secure system of pickets joined together
          via some type of links. Basically, the Pickets by themselves do
          not offer any security. But when they are brought together by
          linking them, they provide the necessary security.
        %p
          This project is that link for other security systems or
          systems to bring together or join, to finally provide the
          necessary secure system.
        %p
          PicketLink is an umbrella project for security and identity
          management for Java Applications. PicketLink is an important
          project under the security offerings from JBoss. The overall
          leadership of Security at JBoss is managed by Anil Saldhana.
        %img{:height => "614", :src => "http://docs.jboss.org/picketlink/2/latest/reference/html/diagrams/overview.png", :style => "border: 3px outset gray; text-align: center;", :width => "442"}
    %br/
    %h2.section_title Features Highlight
    .row-fluid
      .span12
        .clearfix
        %a{:name => "speed"}
        %h4
          %img{:src => "https://www.jboss.org/dms/AS7/icons/45px/jbossas7-icons-bolt_45px.png"}
            Exhaustive Features
    .row-fluid
      .span6
        %h5 Robust IDM feature
        %p Model Identies and Attributes.
        %p
          Build model from various data sources such as Databases,
          LDAP, File System and mix-n-match!
        %p Simple API for Users, Roles, Groups and Attributes.
      .span6
        %h5 Suitable for JavaEE Applications
        %p Use CDI based application programming.
        %h5 Robust Authentication Support
        %p
          Application developers have greater control for
          authentication. You use the IDM as the foundation for your
          authentication needs.
    .row-fluid
      .span6.offset3
        %img{:alt => "------------------------------------------", :src => "#{site.base_url}/images/divider.png"}
    .row-fluid
      .span12
        %a{:name => "modular"}
        %h4
          %img{:src => "https://www.jboss.org/dms/AS7/icons/45px/jbossas7-icons-plugin_45px.png"}
            Robust Permission Model
    .row-fluid
      .span6
        %h5 Extensive Access Control/Authorization Support
        %p
          PicketLink has a permission model that allows you to have
          robust access control for your Java Applications.
        %p
          Permission implementations include ACL and Drools Rules
          based implementations.
      .span6
        %h5 Plug in your own access control
        %p API allows custom authorization implementations.
        %p
          Easy migration to a fine grained access control model using
          XACML.
        %br
      .row-fluid
        .span6.offset3
          %img{:alt => "------------------------------------------", :src => "#{site.base_url}/images/divider.png"}
      .row-fluid
        .span12
          %a{:name => "light"}
          %h4
            %img{:alt => "", :src => "https://www.jboss.org/dms/AS7/icons/45px/jbossas7-icons-feather_45px.png"}
              Single Sign On
      .row-fluid
        .span6
          %h5 SAML Web Browser Profile Single Sign-On
          %p PicketLink provides SSO using SAML v1.1 and v2.0
          %p
            Parsers and Object Model available to build robust SAML
            enabled applications.
        .span6
          %h5 Trust Capabilities
          %p
            PicketLink includes login modules for building trusted
            heterogeneous applications using different application servers
            including Wildfly Application Server.
      .row-fluid
        .span6.offset3
          %img{:alt => "------------------------------------------", :src => "#{site.base_url}/images/divider.png"}
      .row-fluid
        .span12
          %a{:name => "social"}
          %h4
            %img{:alt => "administration", :src => "https://www.jboss.org/dms/AS7/icons/45px/jbossas7-icons-admin_45px.png"}
              Social Login
      .row-fluid
        .span6
          %h5 Social Media Based Login
          %p
            PicketLink allows you to incorporate Social Login into your
            applications. You can build applications that allow sign in using
            Facebook, Google and Twitter.
          %p Comming soon !
      .row-fluid
        .span6.offset3
          %img{:alt => "------------------------------------------", :src => "#{site.base_url}/images/divider.png"}
      .row-fluid
        .span12
          %a{:name => "compliant"}
          %h4
            %img{:alt => "compliant", :src => "https://www.jboss.org/dms/AS7/icons/45px/jbossas7-icons-compliant_45px.png"}
              Compliance To Standards
      .row-fluid
        .span6
          %h5 Java EE
          %p
            PicketLink allows JavaEE applications to incorporate robust
            security. JavaEE constructs are supported.
        .span6
          %h5 Open Standards
          %p PicketLink supports SAML, XACML and WS-Trust.
      .row-fluid
        .span6.offset3
          %img{:alt => "------------------------------------------", :src => "#{site.base_url}/images/divider.png"}
      .row-fluid
        .span12
          %a{:name => "testable"}
          %h4
            %img{:alt => "testable", :src => "https://www.jboss.org/dms/AS7/icons/45px/jbossas7-icons-testable_45px.png"}
              Easily Testable
      .row-fluid
        .span6
          %h5 Arquillian
          %p
            From the very start, PicketLink has been designed with
            testability in mind. The secret to that fidelity is
            %a{:href => "http://www.arquillian.org"} Arquillian
            a component
            model for integration tests that execute inside the real runtime
            environment.
        .span6
          %h5 Smarter Development
          %p
            Using Arquillian for development gives you an extremely
            fast change, compile, test cycle for any component model. This
            strategy allows you to take Test Driven Development (TDD) further
            than ever before.
      .row-fluid
        .span6.offset3
          %img{:alt => "------------------------------------------", :src => "#{site.base_url}/images/divider.png"}
      %h2.section_title Documentation
      .row-fluid
        .span6
          %h5 Plenty of Quickstarts and tutorials
          %p
            Security for your Java Applications does not have to be
            scary.
          %p
            PicketLink provides lots of quickstarts to get you started
            quickly.
        .span6
          %h5 Browseable and PDF Documentation
          %p
            Documentation is available
            = succeed "." do
              %a{:href => "http://docs.jboss.org/picketlink/2/latest/"} here
          %br
      .row-fluid
        .span6.offset3
          %img{:alt => "------------------------------------------", :src => "#{site.base_url}/images/divider.png"}
      %h2.section_title Open Source
      .row-fluid
        .span12
          %h4 Community Powered Innovation
      .row-fluid
        .span6
          %h5 Your contributions, your feedback!
          %p
            PicketLink has greatly benefited from community feedback,
            contributions and patches.
        .row-fluid
          %br
