---
layout: project
---

.row-fluid
  .hero-unit
    %h2 PicketLink Federation
    %p Seamless Single Sign On (SSO) and Identity Propagation

-# First row of projects
#equalHeightsB.row-fluid.equalHero
  .span4.well
    %p
      %i.icon-table.icon-3x.pull-left
      %h3 SAML
    %p
      Security Assertion Markup Language (SAML)
    %p.center-icon
      %a.btn.btn-primary{:href => "#{site.base_url}/federation/saml/"}
        SAML
        %i.icon-circle-arrow-right
  .span4.well
    %p
      %i.icon-table.icon-3x.pull-left
      %h3 OAuth2
    %p
      Delegated Authorization using OAuth2
    %p.center-icon
      %a.btn.btn-primary{:href => "#{site.base_url}/federation/oauth/"}
        IETF OAuth2
        %i.icon-circle-arrow-right
  .span4.well
    %p
      %i.icon-table.icon-3x.pull-left
      %h3 WS-Trust
    %p
      Secure your web services with the 
    %p
      Security Token Server (STS)
    %p.center-icon
      %a.btn.btn-primary{:href => "#{site.base_url}/federation/wstrust/"}
        ws-trust
        %i.icon-circle-arrow-right
-# Second row of projects
#equalHeightsB.row-fluid.equalHero
  .span4.well
    %p
      %i.icon-table.icon-3x.pull-left
      %h3 OpenID
    %p
      Open Identity
    %p.center-icon
      %a.btn.btn-primary{:href => "#{site.base_url}/federation/openid/"}
        openid
        %i.icon-circle-arrow-right
  .span4.well
    %p
      %i.icon-table.icon-3x.pull-left
      %h3 Social Login
    %p
      Social Login using Facebook Connect, Twitter and Google+
    %p.center-icon
      %a.btn.btn-primary{:href => "#{site.base_url}/social/sociallogin/"}
        openid
        %i.icon-circle-arrow-right
