.navbar.navbar-inverse#navbar-fix
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .nav-collapse.collapse
        %ul#nav.nav
          %li{:class=>"#{'active' if page.output_path.start_with?('/index') }" }<
            %a(href="#{site.base_url}/") Home
          %li{:class=>"#{'active' if page.output_path.start_with?('/about') }" }<
            %a(href="#{site.base_url}/about/") About
          %li{:class=>"#{'active' if page.output_path.start_with?('/gettingstarted') }" }<
            %a(href="#{site.base_url}/gettingstarted/") Getting Started
          %li{:class=>"#{'active' if page.output_path.start_with?('/docs') }" }<
            %a{:href=>"http://docs.jboss.org/picketlink/2/latest/reference/html/"} Documentation
          %li{:class=>"#{'active' if page.output_path.start_with?('/source') }" }<
            %a(href="https://github.com/picketlink/picketlink") Source Code
          %li{:class=>"#{'active' if page.output_path.start_with?('/gethelp') }" }<
            %a(href="#{site.base_url}/gethelp/") Get Help
          %li{:class=>"#{'active' if page.output_path.start_with?('/testimonials') }" }<
            %a(href="#{site.base_url}/testimonials/testimonial/") Testimonials
          %li{:class=>"#{'active' if page.output_path.start_with?('/joinus') }" }<
            %a(href="#{site.base_url}/joinus/") Join Us
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown")<
              = precede 'Follow Us ' do
                %b.caret>
            %ul.dropdown-menu.projectsocialmedia
              %li<
                %a(href="http://twitter.com/picketlink")<
                  %img(src="#{site.jborg_images_url}/common/socialmedia_icon40_twitter.png")
              %li<
                %a(href="https://plus.google.com/communities/101791570551871936976")<
                  %img(src="#{site.jborg_images_url}/common/socialmedia_icon40_googleplus.png")

