!!!5
%html
  %head
    = partial('head.html.haml')
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"#{site.base_url}/stylesheets/blog.css"}
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/asciidoctor-coderay.css", :media=>"screen" }

    :css
      td.download-size {
        text-align: right;
        padding-right: 10px;
      }

      .white-stripes tr:nth-child(even) {
        background-color: white;
      }
      .white-stripes tr:nth-child(odd) {
        background-color: none;
      }
  %body
    .container#content
      .dropup
        %a#tab.tabnav-closed{:href => "https://www.redhat.com"} Red Hat

      = partial('banner.html.haml')
      = partial('nav.html.haml')

    .container
      ~ content
      %hr
      %footer
        %p &copy; Organization #{Date.today.year}
    -# Uncomment script tags (remove leading -#) when you're ready to use behaviors
    -# %script{ :type=>'text/javascript', :src=>'//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js' }
    -# %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap-collapse.js" }
